.mypage_question 
  .mypage_question__num 
    = question.id
  .mypage_question__q
    .mypage_question__q__content
      = question.question
    = link_to question_path(question) do
      = fa_icon 'arrow-circle-right'
  - if question.corrects.find_by(user_id: current_user.id)
    .mypage_question__accuracy
      = "#{question.corrects.find_by(user_id: current_user.id).accuracy}%"
    .mypage_question__sum
      = "#{question.corrects.find_by(user_id: current_user.id).sum}回"
  - else 
    .mypage_question__accuracy
      = "0%"
    .mypage_question__sum
      = "0回"