.question_box
  .question_box__q
    .question_box__q__header
      = image_tag 'Qmark.png' 
      %p
        = i + 1
      %p.question_id 
        = question.id
    .question_box__q__content
      %p 
        = question.question
    .yn_box
      %button.correct_btn ⭕
      %button.correct_btn ❌
  .question_box__a
    .question_box__a__menu
      = image_tag 'Amark.png' 
    .question_box__a__content
      .jadge 
        
      .match
        .match_yours
          あなたの解答：
        .match_correct
          正解：
          
      .question_box__a__content__links
        - if question.cfs
          %p 参考URL：
          %ul
            - question.cfs.each.with_index do |cf, i|
              %li
                = link_to "【#{i + 1}】", cf.link , class: "cf_link", target: :_blank 
      - if question.corrects.find_by(user_id: current_user.id)
        .accuracy_count
          = "あなたの正解率： #{question.corrects.find_by(user_id: current_user.id).accuracy}％"
      %button.next_btn 次ヘ進む