-# ◯×式
= form_with(model: question, local: true, class: "question_form yn_form") do |f|
  - if question.errors.any?
    #error_explanation
      %h2
        = pluralize(question.errors.count, "error")
        prohibited this question from being saved:
      %ul
        - question.errors.full_messages.each do |message|
          %li= message
  .q_field
    %label 質問
    %br
    = f.text_area :question , class: "question_form__box question_form__box-wide" 
  .q_field
    %label 解答
    %br
    .yn_box
      .yn_btn ⭕
      .yn_btn ❌
    = f.hidden_field :answer, class: "yn_value", value: question.answer
  .q_field
    %label 参考URL
    .add_cf +
    = f.fields_for :cfs do |cf|
      .link_form
        = cf.text_field :link , class: "question_form__box"
        - if question.persisted?
          .link_delete
            = cf.check_box :_destroy
            = cf.label :_destroy, "削除"
  .q_field
    - if question.publicness == 1
      = f.check_box(:publicness,{:checked=>false},0,1)
      非公開にする
    - else
      = f.check_box(:publicness,{:checked=>false},1,0)
      公開する
  .q_field
    = f.hidden_field :q_type, value: "yn"
  .actions
    = f.submit "保存する", class: "question_form__btn"
    - if question.id 
      = link_to "削除する", question_path(question), method: :delete, class: "question_form__btn question_delete"
