= render 'layouts/header'
.mypage_container
  = render 'mypage_bar'
  .mypage_slide
    = fa_icon 'chevron-right'
    = fa_icon 'chevron-left'
  .mypage_content
    .mypage_content__header
      %h1 
        = "#{current_user.nickname}のマイページ"
      .mypage_content__header__score
        .score.accuracy_score
          %p 平均正解率：
          %h2
            - unless current_user.corrects == []
              = "#{ current_user.corrects.sum(:accuracy) / current_user.corrects.count }％"
            - else 
              0%
        .score.sum_score
          %p 総回答数：
          %h2 
            - if current_user.corrects
              = "#{current_user.corrects.sum(:sum)}回"
            - else 
              0回
    .mypage_content__bottom
      .mypage_content__bottom__tabs
        = link_to "公開問題", questions_path, class: "mypage_tab"
        .mypage_tab.mypage_tab-select プライベート問題
        = link_to "自分が作った問題",  myquestions_questions_path, class: "mypage_tab"
      .mypage_content__bottom__boxes
        = render partial: 'order_dropdown'
        .mypage__box.asc
          = render partial: 'question_index'
          - unless @questions == []
            - @questions.order(id: "ASC").each do |question|
              = render partial: 'question', locals: {question: question}
          - else 
            まだありません
        .mypage__box.user
          = render partial: 'question_index'
          - @user_questions.order(accuracy: "ASC").order(sum: "DESC").each do |question|
            = render partial: 'question', locals: {question: question}
          - unless @yet_questions == []
            .yet_index
              未回答分
            - @yet_questions.each do |question|
              = render partial: 'question', locals: {question: question}