= render 'layouts/header'
.test_container
  - @questions.each.with_index do |question, i|
    .question_box
      .question_box__q
        .question_box__q__header
          = image_tag 'Qmark.png' 
          %p
            = i + 1
          %p.question_id 
            = question.id
        .question_box__q__content
          %p 
            = question.question
            -# %br
            -# = link_to "https://docs.google.com/spreadsheets/d/11CDfzbK1snzBovbYiBdAZkA6ZbiYEY0NtT8v8FTnnr4/edit#gid=0", target: :_blank do
            -#   リンク
      .question_box__a
        .question_box__a__menu
          = image_tag 'Amark.png' 
          .a__hide
            %p 正解を見る(クリック)
            = ""
        .question_box__a__content
          %p 
            = simple_format(question.answer)
          .question_box__a__content__links
            - if question.cfs
              %p 参考URL：
              %ul
                - question.cfs.each.with_index do |cf, i|
                  %li
                    = link_to "【#{i + 1}】", cf.link , class: "cf_link", target: :_blank 
          .result_box
            %button.correct_btn ⭕
            %button.correct_btn ❌
          - if question.corrects.find_by(user_id: current_user.id)
            .accuracy_count
              = "あなたの正解率： #{question.corrects.find_by(user_id: current_user.id).accuracy}％"
          %button.next_btn 次ヘ進む
.complete_modal
  .complete_modal__box
    .complete_modal__box__decorations.stars
      = image_tag 'stars.png'
      = image_tag 'stars.png'
    .complete_modal__box__decorations.crackers
      = image_tag 'cracker_l.png'
      = image_tag 'cracker_r.png'
    %h2 全問解きました！
    %h3 おつかれさまです！
    = link_to "もう一度挑戦する", "/questions/test", class: "again_btn"
