= render 'layouts/header'
.test_container
  #countdowntimer
    %span#future_date
  #reset_btn
  - @questions.each.with_index do |question, i|
    = render partial: 'text_quiz', locals: {question: question, i: i}
.setTime_modal
  .setTime_modal__box
    %h2 1問何分で解きますか？
    .setTime_modal__box__form
      %input
      %p 分
    %button.btn#setTime_btn 設定する
    %p ※入力しない場合1分になります  
.complete_modal
  .complete_modal__box
    .complete_modal__box__decorations.stars
      = image_tag 'stars.png'
      = image_tag 'stars.png'
    .complete_modal__box__decorations.crackers
      = image_tag 'cracker_l.png'
      = image_tag 'cracker_r.png'
    %h2 全問解きました！
    %h3 おつかれさまです！
    = link_to "もう一度挑戦する", "/questions/test", class: "again_btn"
